<%

/**
 * @param {number} postLikesCount
 * @param {number} userLikesPost
 * @returns {string}
 * 
 * */
function formatLikesLegend(postLikesCount, userLikesPost) {
    if (postLikesCount >= 2) {
        const personIndicator = userLikesPost? "nos": "les";
        return `A ${postLikesCount} personas ${personIndicator} gusta`;
    }
    if (postLikesCount == 1) {
        if (userLikesPost) return "Me gusta"
        return "Le gusta a una persona";
    }
    return null;
}

%>

<%- 

include('./templates/short-header.ejs') 

%>

<section class="bg-white min-h-screen relative flex flex-col">
    <%- include("./templates/bottom-menu.ejs"); %>
    <div class="pb-[4rem] grid grid-cols-[192px_1fr_192px] flex-grow justify-items-center">
        <a href="/app/post/new" class="
        row-start-1
        col-start-3 
        top-[calc(100vh_-_4rem_-_2rem_-_4rem)] 
        sticky 
        h-[4rem] 
        aspect-square 
        bg-cyan-800 
        rounded-full 
        text-white
        flex
        items-center
        justify-center
        text-2xl
        hover:bg-cyan-950
        transition-all
        hover:scale-125
        active:scale-110
        ">
            <i class="fa-solid fa-plus"></i>
        </a>
        <div class="w-full pb-12 relative col-start-2 row-start-1 grid grid-cols-2 gap-x-1 gap-y-1">
            <% for (let postCardDatum of postCardData) { %>
                <div class="grid grid-rows-[1fr_auto] shadow-xl">
                    <div class="aspect-square w-full relative overflow-hidden bg-black">
                        <img src="<%- postCardDatum.postCoverImage %>" alt="" class="max-w-full max-h-full absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2">
                    </div>
                    <div class="flex flex-col justify-between px-8 py-4 gap-1">
                        <div class="flex justify-between h-fit">
                            <a class="flex gap-4 h-8" href="/app/user/<%- postCardDatum.authorUsername %>">
                                <div class="aspect-square max-h-full rounded-full bg-white">
                                    <img src="<%- postCardDatum.authorProfilePicture %>" alt="" class="max-h-full"/>
                                </div>
                                <h1 class="font-bold font-inter">
                                    <%- postCardDatum.authorUsername %>
                                </h1>
                            </a>
                            <div class="h-full text-2xl flex gap-4">
                                <% if (postCardDatum.userOwnsPost) { %>
                                    <a href="/app/post/delete/<%-postCardDatum.postId%>" title="Eliminar" class="transition-all hover:scale-125 text-neutral-600">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </a>
                                    <a href="/app/post/edit/<%-postCardDatum.postId%>" title="Editar" class="transition-all hover:scale-125 text-amber-700">
                                        <i class="fa-solid fa-pencil"></i>
                                    </a>
                                <% } %>
                                <% if (postCardDatum.userLikesPost) { %>
                                    <a href="/app/post/unlike/<%-postCardDatum.postId%>" title="Ya no me gusta" class="text-rose-800 transition-all hover:scale-125">
                                        <i class="fa-solid fa-heart"></i>
                                    </a>
                                <% } else { %>
                                    <a href="/app/post/like/<%-postCardDatum.postId%>" title="Me gusta" class="transition-all hover:scale-125">
                                        <i class="fa-regular fa-heart"></i>
                                    </a>
                                <% }  %>
                                <button title="Compartir" class="transition-all hover:scale-125">
                                    <i class="fa-solid fa-paper-plane"></i>
                                </button>
                            </div>
                        </div>
                        <div class="
                        text-neutral-500
                        text-xs
                        font-inter
                        grid
                        grid-cols-2
                        gap-4
                        ">
                            <p class="
                            ">
                                Hace <%- postCardDatum.postCreationDate %>
                            </p>
                            <% if (postCardDatum.postLikesCount > 0) { %>
                                <p class="text-right">
                                    <%- formatLikesLegend(postCardDatum.postLikesCount, postCardDatum.userLikesPost); %>
                                </p>
                            <% } %>
                        </div>
                        <p style="word-break: break-all;" class="font-inter">
                            <%- postCardDatum.postSummary %>
                        </p>
                        <a href="/app/post/<%-postCardDatum.postId%>" class="
                            bg-emerald-950 
                            transition-colors
                            hover:bg-emerald-800
                            font-inter 
                            text-white 
                            px-4 
                            py-2 
                            w-fit 
                            text-center 
                            min-w-[50%] 
                            mt-8
                            ">Ver más</a>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</section>

<%- include('./templates/footer/footer.ejs') %>